@import url(https://fonts.googleapis.com/cssfamily=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/cssfamily=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);
.wrapper{
  margin: ;
  width: 1000px;
}
.onRight{
  float: right;

}
.img-donutHome{
  width: 1200px;
}
body{
  background-color: #dfe3ee;
}
h1{
  font-family: "Lucidia Console", Monaco, monospace;
  color: #3b5998;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: ;

}
h2{
  font-family: "Lucidia Console", Monaco, monospace;
  color: #3b5998;
}
h3{
  font-family: "Lucidia Console", Monaco, monospace;
  color: #3b5998;
}
h4{
  font-family: "Lucidia Console", Monaco, monospace;
  color: #3b5998;
}
p{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
}
address{
  color: #8b9dc3;
}
